body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 16.67%; /* 1/6 часть экрана */
    background-color: #1e1e1e;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.main {
    width: 66.67%; /* центральная часть экрана */
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.user-sidebar {
    width: 16.67%; /* 1/6 часть экрана */
    background-color: #1e1e1e;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chat-header {
    background-color: #252525;
    padding: 10px;
    border-bottom: 2px solid #444;
    display: none;
}

.posts {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

form#message-form {
    background-color: #252525;
    border-top: 2px solid #444;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    position: sticky;
    bottom: 0;
    width: 100%;
}

form#message-form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 10px;
    resize: none;
    outline: none;
}

form#create-chat-form,
form#join-private-chat-form,
form#invite-user-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-chat-form input,
#join-private-chat-form input,
#invite-user-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
}

.create-chat-form button,
#join-private-chat-form button,
#invite-user-form button,
.chat-button {
    background-color: #6200ea;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.create-chat-form button:hover,
#join-private-chat-form button:hover,
#invite-user-form button:hover,
.chat-button:hover {
    background-color: #3700b3;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.chat-list,
.user-list,
.invited-users-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    max-height: calc(66vh - 50px);
    overflow-y: auto;
}

.chat-list::-webkit-scrollbar,
.user-list::-webkit-scrollbar,
.invited-users-list::-webkit-scrollbar {
    width: 8px;
}

.chat-list::-webkit-scrollbar-thumb,
.user-list::-webkit-scrollbar-thumb,
.invited-users-list::-webkit-scrollbar-thumb {
    background-color: #6200ea;
    border-radius: 4px;
}

.chat-item,
.user-item {
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #2a2a2a;
    border-radius: 5px;
}

.chat-item:hover,
.user-item:hover {
    background-color: #373737;
}

.nickname-display {
    margin-top: auto;
    text-align: center;
    font-size: 1.2em;
    color: #6200ea;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.login-form,
.register-form {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
}

.login-form input,
.register-form input {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
}

.login-form button,
.register-form button {
    background-color: #6200ea;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.login-form button:hover,
.register-form button:hover {
    background-color: #3700b3;
}

.login-form a,
.register-form a {
    color: #6200ea;
    text-decoration: none;
}

.login-form a:hover,
.register-form a:hover {
    text-decoration: underline;
}

.post {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #2a2a2a;
}

.post.user .message-container {
    background-color: #6200ea;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}

.post.other .message-container {
    background-color: #444;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.nickname {
    color: #6200ea;
    font-weight: bold;
    margin-right: 5px;
}
